<div title="switch theme" @onclick="Toggle" style="cursor: pointer;">
    @(Theme == "light" ? "🌙": "☀️")
</div>

@code {
    [CascadingParameter]
    public string Theme { get; set; }

    [CascadingParameter]
    public Action Toggle { get; set; }
}
